DB_ENGINE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=orcazap
DB_USER=root
DB_PASSWORD=<sua-senha>
DB_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=orcazap;Uid=root;Pwd=<sua-senha>;
JWT_SECRET=<gere-uma-chave-hex-de-64-caracteres>
